$background-color: dynamic(#fff);
$neutral_color: contrast_color_by($background_color, 12);
$progress_background_color: contrast_color_by($background_color, 7);
$progress_text_color_front: $background_color;
$progress_text_color_back: contrast_color_by($background_color, 100);
$light_color: $background_color;
$loading_spinner_color: contrast_color_by($background_color, 33);
$field_label_disabled_color: contrast_color_by($background_color, 33);
$tip_body_color: contrast_color_by($background_color, 100);
$panel_tool_color: $background_color;
$grid_column_resize_marker_background_color: contrast_color_by($background_color, 20);
$progress_bar_background_gradient: $base_background_gradient;
$panel_header_background_gradient: $base_background_gradient;
$button_background_gradient: $base_background_gradient;
$button_badge_background_gradient: $base_background_gradient;
$toolbar_background_gradient: $base_background_gradient;
$slider_thumb_background_gradient: $base_background_gradient;
$slider_thumb_dragging_background_gradient: $base_background_gradient;
$slider_track_background_gradient: $base_background_gradient;
$slider_track_fill_background_gradient: $base_background_gradient;
$toggle_thumb_background_gradient: $base_background_gradient;
$toggle_thumb_on_background_gradient: $base_background_gradient;
$toggle_background_gradient: $base_background_gradient;
$toggle_on_background_gradient: $base_background_gradient;
$tab_background_gradient: $base_background_gradient;
$tab_active_background_gradient: $base_background_gradient;
$tab_badge_background_gradient: $base_background_gradient;
$button_pressed_background_gradient: reverse_gradient_for($base_background_gradient);