$ui-spotify-button-color: dynamic(null);
$ui-spotify-button-font-family: dynamic(null);
$ui-spotify-button-font-size: dynamic(null);
$ui-spotify-button-font-size-big: dynamic(null);
$ui-spotify-button-font-weight: dynamic(null);
$ui-spotify-button-background-color: dynamic(null);
$ui-spotify-button-background-gradient: dynamic(null);
$ui-spotify-button-border-color: dynamic(null);
$ui-spotify-button-border-radius: dynamic(null);
$ui-spotify-button-border-radius-big: dynamic(null);
$ui-spotify-button-border-style: dynamic(null);
$ui-spotify-button-border-width: dynamic(null);
$ui-spotify-button-line-height: dynamic(null);
$ui-spotify-button-line-height-big: dynamic(null);
$ui-spotify-button-padding: dynamic(null);
$ui-spotify-button-padding-big: dynamic(null);
$ui-spotify-button-icon-horizontal-spacing: dynamic(null);
$ui-spotify-button-icon-horizontal-spacing-big: dynamic(null);
$ui-spotify-button-icon-vertical-spacing: dynamic(null);
$ui-spotify-button-icon-vertical-spacing-big: dynamic(null);
$ui-spotify-button-icon-color: dynamic(null);
$ui-spotify-button-icon-font-size: dynamic(null);
$ui-spotify-button-icon-font-size-big: dynamic(null);
$ui-spotify-button-pressed-background-color: dynamic(null);
$ui-spotify-button-pressed-background-gradient: dynamic(null);
$ui-spotify-button-pressed-border-color: dynamic(null);
$ui-spotify-button-pressed-color: dynamic(null);
$ui-spotify-button-pressed-icon-color: dynamic(null);
$ui-spotify-button-disabled-color: dynamic(null);
$ui-spotify-button-disabled-icon-color: dynamic(null);
$ui-spotify-button-disabled-opacity: dynamic(null);
$ui-spotify-button-badge-color: dynamic(null);
$ui-spotify-button-badge-font-family: dynamic(null);
$ui-spotify-button-badge-font-size: dynamic(null);
$ui-spotify-button-badge-font-weight: dynamic(null);
$ui-spotify-button-badge-bottom: dynamic(null);
$ui-spotify-button-badge-left: dynamic(null);
$ui-spotify-button-badge-right: dynamic(null);
$ui-spotify-button-badge-top: dynamic(null);
$ui-spotify-button-badge-background-color: dynamic(null);
$ui-spotify-button-badge-background-gradient: dynamic(null);
$ui-spotify-button-badge-border-radius: dynamic(null);
$ui-spotify-button-badge-line-height: dynamic(null);
$ui-spotify-button-badge-max-width: dynamic(null);
$ui-spotify-button-badge-min-width: dynamic(null);
$ui-spotify-button-badge-padding: dynamic(null);
$ui-spotify-button-text-transform: dynamic(null);
$ui-spotify-button-text-transform-big: dynamic(null);
$ui-spotify-button-icon-only-padding: dynamic(null);
$ui-spotify-button-icon-only-padding-big: dynamic(null);
$ui-spotify-button-hovered-arrow-icon-color: dynamic(null);
$ui-spotify-button-hovered-background-color: dynamic(null);
$ui-spotify-button-hovered-background-gradient: dynamic(null);
$ui-spotify-button-hovered-border-color: dynamic(null);
$ui-spotify-button-hovered-color: dynamic(null);
$ui-spotify-button-hovered-icon-color: dynamic(null);
$ui-spotify-button-focused-arrow-icon-color: dynamic(null);
$ui-spotify-button-focused-background-color: dynamic(null);
$ui-spotify-button-focused-background-gradient: dynamic(null);
$ui-spotify-button-focused-border-color: dynamic(null);
$ui-spotify-button-focused-color: dynamic(null);
$ui-spotify-button-focused-icon-color: dynamic(null);
$ui-spotify-button-focused-outline-color: dynamic(null);
$ui-spotify-button-focused-outline-style: dynamic(null);
$ui-spotify-button-focused-outline-width: dynamic(null);
$ui-spotify-button-pressed-arrow-icon-color: dynamic(null);
$ui-spotify-button-disabled-arrow-icon-color: dynamic(null);
$ui-spotify-button-disabled-background-color: dynamic(null);
$ui-spotify-button-disabled-background-gradient: dynamic(null);
$ui-spotify-button-disabled-border-color: dynamic(null);
$ui-spotify-button-badge-font-size-big: dynamic(null);
$ui-spotify-button-badge-line-height-big: dynamic(null);
$ui-spotify-button-badge-padding-big: dynamic(null);
$ui-spotify-button-arrow-horizontal-spacing: dynamic(null);
$ui-spotify-button-arrow-horizontal-spacing-big: dynamic(null);
$ui-spotify-button-arrow-vertical-spacing: dynamic(null);
$ui-spotify-button-arrow-vertical-spacing-big: dynamic(null);
$ui-spotify-button-arrow-icon-color: dynamic(null);
$ui-spotify-button-arrow-icon-font-size: dynamic(null);
$ui-spotify-button-arrow-icon-font-size-big: dynamic(null);