$ui-spotify-button-color: dynamic(null);
$ui-spotify-button-font-family: dynamic(null);
$ui-spotify-button-font-size: dynamic(null);
$ui-spotify-button-font-size-big: dynamic(null);
$ui-spotify-button-font-weight: dynamic(null);
$ui-spotify-button-background-color: dynamic(null);
$ui-spotify-button-background-gradient: dynamic(null);
$ui-spotify-button-border-color: dynamic(null);
$ui-spotify-button-border-radius: dynamic(null);
$ui-spotify-button-border-radius-big: dynamic(null);
$ui-spotify-button-border-style: dynamic(null);
$ui-spotify-button-border-width: dynamic(null);
$ui-spotify-button-line-height: dynamic(null);
$ui-spotify-button-line-height-big: dynamic(null);
$ui-spotify-button-padding: dynamic(null);
$ui-spotify-button-padding-big: dynamic(null);
$ui-spotify-button-icon-horizontal-spacing: dynamic(null);
$ui-spotify-button-icon-horizontal-spacing-big: dynamic(null);
$ui-spotify-button-icon-vertical-spacing: dynamic(null);
$ui-spotify-button-icon-vertical-spacing-big: dynamic(null);
$ui-spotify-button-icon-color: dynamic(null);
$ui-spotify-button-icon-font-size: dynamic(null);
$ui-spotify-button-icon-font-size-big: dynamic(null);
$ui-spotify-button-pressed-background-color: dynamic(null);
$ui-spotify-button-pressed-background-gradient: dynamic(null);
$ui-spotify-button-pressed-border-color: dynamic(null);
$ui-spotify-button-pressed-color: dynamic(null);
$ui-spotify-button-pressed-icon-color: dynamic(null);
$ui-spotify-button-disabled-color: dynamic(null);
$ui-spotify-button-disabled-icon-color: dynamic(null);
$ui-spotify-button-disabled-opacity: dynamic(null);
$ui-spotify-button-badge-color: dynamic(null);
$ui-spotify-button-badge-font-family: dynamic(null);
$ui-spotify-button-badge-font-size: dynamic(null);
$ui-spotify-button-badge-font-weight: dynamic(null);
$ui-spotify-button-badge-bottom: dynamic(null);
$ui-spotify-button-badge-left: dynamic(null);
$ui-spotify-button-badge-right: dynamic(null);
$ui-spotify-button-badge-top: dynamic(null);
$ui-spotify-button-badge-background-color: dynamic(null);
$ui-spotify-button-badge-background-gradient: dynamic(null);
$ui-spotify-button-badge-border-radius: dynamic(null);
$ui-spotify-button-badge-line-height: dynamic(null);
$ui-spotify-button-badge-max-width: dynamic(null);
$ui-spotify-button-badge-min-width: dynamic(null);
$ui-spotify-button-badge-padding: dynamic(null);
$ui-spotify-button-text-transform: dynamic(null);
$ui-spotify-button-text-transform-big: dynamic(null);
$ui-spotify-button-icon-only-padding: dynamic(null);
$ui-spotify-button-icon-only-padding-big: dynamic(null);
$ui-spotify-button-hovered-arrow-icon-color: dynamic(null);
$ui-spotify-button-hovered-background-color: dynamic(null);
$ui-spotify-button-hovered-background-gradient: dynamic(null);
$ui-spotify-button-hovered-border-color: dynamic(null);
$ui-spotify-button-hovered-color: dynamic(null);
$ui-spotify-button-hovered-icon-color: dynamic(null);
$ui-spotify-button-focused-arrow-icon-color: dynamic(null);
$ui-spotify-button-focused-background-color: dynamic(null);
$ui-spotify-button-focused-background-gradient: dynamic(null);
$ui-spotify-button-focused-border-color: dynamic(null);
$ui-spotify-button-focused-color: dynamic(null);
$ui-spotify-button-focused-icon-color: dynamic(null);
$ui-spotify-button-focused-outline-color: dynamic(null);
$ui-spotify-button-focused-outline-style: dynamic(null);
$ui-spotify-button-focused-outline-width: dynamic(null);
$ui-spotify-button-pressed-arrow-icon-color: dynamic(null);
$ui-spotify-button-disabled-arrow-icon-color: dynamic(null);
$ui-spotify-button-disabled-background-color: dynamic(null);
$ui-spotify-button-disabled-background-gradient: dynamic(null);
$ui-spotify-button-disabled-border-color: dynamic(null);
$ui-spotify-button-badge-font-size-big: dynamic(null);
$ui-spotify-button-badge-line-height-big: dynamic(null);
$ui-spotify-button-badge-padding-big: dynamic(null);
$ui-spotify-button-arrow-horizontal-spacing: dynamic(null);
$ui-spotify-button-arrow-horizontal-spacing-big: dynamic(null);
$ui-spotify-button-arrow-vertical-spacing: dynamic(null);
$ui-spotify-button-arrow-vertical-spacing-big: dynamic(null);
$ui-spotify-button-arrow-icon-color: dynamic(null);
$ui-spotify-button-arrow-icon-font-size: dynamic(null);
$ui-spotify-button-arrow-icon-font-size-big: dynamic(null);
$ui-plain-button-color: dynamic(null);
$ui-plain-button-font-family: dynamic(null);
$ui-plain-button-font-size: dynamic(null);
$ui-plain-button-font-size-big: dynamic(null);
$ui-plain-button-font-weight: dynamic(null);
$ui-plain-button-background-color: dynamic(null);
$ui-plain-button-background-gradient: dynamic(null);
$ui-plain-button-border-color: dynamic(null);
$ui-plain-button-border-radius: dynamic(null);
$ui-plain-button-border-radius-big: dynamic(null);
$ui-plain-button-border-style: dynamic(null);
$ui-plain-button-border-width: dynamic(null);
$ui-plain-button-line-height: dynamic(null);
$ui-plain-button-line-height-big: dynamic(null);
$ui-plain-button-padding: dynamic(null);
$ui-plain-button-padding-big: dynamic(null);
$ui-plain-button-text-transform: dynamic(null);
$ui-plain-button-text-transform-big: dynamic(null);
$ui-plain-button-icon-horizontal-spacing: dynamic(null);
$ui-plain-button-icon-horizontal-spacing-big: dynamic(null);
$ui-plain-button-icon-vertical-spacing: dynamic(null);
$ui-plain-button-icon-vertical-spacing-big: dynamic(null);
$ui-plain-button-icon-color: dynamic(null);
$ui-plain-button-icon-font-size: dynamic(null);
$ui-plain-button-icon-font-size-big: dynamic(null);
$ui-plain-button-icon-only-padding: dynamic(null);
$ui-plain-button-icon-only-padding-big: dynamic(null);
$ui-plain-button-hovered-arrow-icon-color: dynamic(null);
$ui-plain-button-hovered-background-color: dynamic(null);
$ui-plain-button-hovered-background-gradient: dynamic(null);
$ui-plain-button-hovered-border-color: dynamic(null);
$ui-plain-button-hovered-color: dynamic(null);
$ui-plain-button-hovered-icon-color: dynamic(null);
$ui-plain-button-focused-arrow-icon-color: dynamic(null);
$ui-plain-button-focused-background-color: dynamic(null);
$ui-plain-button-focused-background-gradient: dynamic(null);
$ui-plain-button-focused-border-color: dynamic(null);
$ui-plain-button-focused-color: dynamic(null);
$ui-plain-button-focused-icon-color: dynamic(null);
$ui-plain-button-focused-outline-color: dynamic(null);
$ui-plain-button-focused-outline-style: dynamic(null);
$ui-plain-button-focused-outline-width: dynamic(null);
$ui-plain-button-pressed-arrow-icon-color: dynamic(null);
$ui-plain-button-pressed-background-color: dynamic(null);
$ui-plain-button-pressed-background-gradient: dynamic(null);
$ui-plain-button-pressed-border-color: dynamic(null);
$ui-plain-button-pressed-color: dynamic(null);
$ui-plain-button-pressed-icon-color: dynamic(null);
$ui-plain-button-disabled-arrow-icon-color: dynamic(null);
$ui-plain-button-disabled-background-color: dynamic(null);
$ui-plain-button-disabled-background-gradient: dynamic(null);
$ui-plain-button-disabled-border-color: dynamic(null);
$ui-plain-button-disabled-color: dynamic(null);
$ui-plain-button-disabled-icon-color: dynamic(null);
$ui-plain-button-disabled-opacity: dynamic(null);
$ui-plain-button-badge-color: dynamic(null);
$ui-plain-button-badge-font-family: dynamic(null);
$ui-plain-button-badge-font-size: dynamic(null);
$ui-plain-button-badge-font-size-big: dynamic(null);
$ui-plain-button-badge-font-weight: dynamic(null);
$ui-plain-button-badge-bottom: dynamic(null);
$ui-plain-button-badge-left: dynamic(null);
$ui-plain-button-badge-right: dynamic(null);
$ui-plain-button-badge-top: dynamic(null);
$ui-plain-button-badge-background-color: dynamic(null);
$ui-plain-button-badge-background-gradient: dynamic(null);
$ui-plain-button-badge-border-radius: dynamic(null);
$ui-plain-button-badge-line-height: dynamic(null);
$ui-plain-button-badge-line-height-big: dynamic(null);
$ui-plain-button-badge-max-width: dynamic(null);
$ui-plain-button-badge-min-width: dynamic(null);
$ui-plain-button-badge-padding: dynamic(null);
$ui-plain-button-badge-padding-big: dynamic(null);
$ui-plain-button-arrow-horizontal-spacing: dynamic(null);
$ui-plain-button-arrow-horizontal-spacing-big: dynamic(null);
$ui-plain-button-arrow-vertical-spacing: dynamic(null);
$ui-plain-button-arrow-vertical-spacing-big: dynamic(null);
$ui-plain-button-arrow-icon-color: dynamic(null);
$ui-plain-button-arrow-icon-font-size: dynamic(null);
$ui-plain-button-arrow-icon-font-size-big: dynamic(null);
$ui-tracks-dataview-background-color: dynamic(null);
$ui-tracks-itemheader-color: dynamic(null);
$ui-tracks-itemheader-font-family: dynamic(null);
$ui-tracks-itemheader-font-size: dynamic(null);
$ui-tracks-itemheader-font-size-big: dynamic(null);
$ui-tracks-itemheader-font-weight: dynamic(null);
$ui-tracks-itemheader-background-color: dynamic(null);
$ui-tracks-itemheader-border-color: dynamic(null);
$ui-tracks-itemheader-border-style: dynamic(null);
$ui-tracks-itemheader-border-width: dynamic(null);
$ui-tracks-itemheader-line-height: dynamic(null);
$ui-tracks-itemheader-line-height-big: dynamic(null);
$ui-tracks-itemheader-padding: dynamic(null);
$ui-tracks-itemheader-padding-big: dynamic(null);
$ui-tracks-itemheader-pinned-background-color: dynamic(null);
$ui-tracks-itemheader-pinned-border-color: dynamic(null);
$ui-tracks-itemheader-pinned-color: dynamic(null);
$ui-tracks-itemheader-focused-outline-color: dynamic(null);
$ui-tracks-itemheader-focused-outline-style: dynamic(null);
$ui-tracks-itemheader-focused-outline-width: dynamic(null);
$ui-tracks-indexbar-color: dynamic(null);
$ui-tracks-indexbar-font-family: dynamic(null);
$ui-tracks-indexbar-font-size: dynamic(null);
$ui-tracks-indexbar-font-size-big: dynamic(null);
$ui-tracks-indexbar-font-weight: dynamic(null);
$ui-tracks-indexbar-background-color: dynamic(null);
$ui-tracks-indexbar-border-radius: dynamic(null);
$ui-tracks-indexbar-border-radius-big: dynamic(null);
$ui-tracks-indexbar-margin: dynamic(null);
$ui-tracks-indexbar-margin-big: dynamic(null);
$ui-tracks-indexbar-opacity: dynamic(null);
$ui-tracks-indexbar-padding: dynamic(null);
$ui-tracks-indexbar-padding-big: dynamic(null);
$ui-tracks-indexbar-width: dynamic(null);
$ui-tracks-indexbar-width-big: dynamic(null);
$ui-tracks-indexbar-indicator-color: dynamic(null);
$ui-tracks-indexbar-indicator-font-size: dynamic(null);
$ui-tracks-indexbar-indicator-font-size-big: dynamic(null);
$ui-tracks-indexbar-indicator-font-weight: dynamic(null);
$ui-tracks-indexbar-indicator-font-weight-big: dynamic(null);
$ui-tracks-indexbar-indicator-height: dynamic(null);
$ui-tracks-indexbar-indicator-height-big: dynamic(null);
$ui-tracks-indexbar-indicator-width: dynamic(null);
$ui-tracks-indexbar-indicator-width-big: dynamic(null);
$ui-tracks-indexbar-indicator-background-color: dynamic(null);
$ui-tracks-indexbar-indicator-border-radius: dynamic(null);
$ui-tracks-indexbar-indicator-line-height: dynamic(null);
$ui-tracks-indexbar-indicator-line-height-big: dynamic(null);
$ui-tracks-indexbar-indicator-margin: dynamic(null);
$ui-tracks-indexbar-indicator-spacing: dynamic(null);
$ui-tracks-indexbar-pressed-background-color: dynamic(null);
$ui-tracks-indexbar-pressed-color: dynamic(null);
$ui-tracks-indexbar-pressed-opacity: dynamic(null);
$ui-tracks-emptytext-color: dynamic(null);
$ui-tracks-emptytext-font-family: dynamic(null);
$ui-tracks-emptytext-font-size: dynamic(null);
$ui-tracks-emptytext-font-size-big: dynamic(null);
$ui-tracks-emptytext-font-weight: dynamic(null);
$ui-tracks-emptytext-line-height: dynamic(null);
$ui-tracks-emptytext-line-height-big: dynamic(null);
$ui-tracks-emptytext-padding: dynamic(null);
$ui-tracks-emptytext-padding-big: dynamic(null);
$ui-tracks-listpaging-background-color: dynamic(null);
$ui-tracks-listpaging-border-color: dynamic(null);
$ui-tracks-listpaging-border-style: dynamic(null);
$ui-tracks-listpaging-border-width: dynamic(null);
$ui-tracks-listpaging-padding: dynamic(null);
$ui-tracks-listpaging-padding-big: dynamic(null);
$ui-tracks-listpaging-message-color: dynamic(null);
$ui-tracks-listpaging-message-font-size: dynamic(null);
$ui-tracks-listpaging-message-font-size-big: dynamic(null);
$ui-tracks-listpaging-message-text-align: dynamic(null);
$ui-tracks-listpaging-disabled-background-color: dynamic(null);
$ui-tracks-listpaging-disabled-message-color: dynamic(null);
$ui-tracks-listpaging-spinner-font-size: dynamic(null);
$ui-tracks-listpaging-spinner-font-size-big: dynamic(null);
$ui-tracks-listpaging-spinner-margin: dynamic(null);
$ui-tracks-listswiperstepper-color: dynamic(null);
$ui-tracks-listswiperstepper-font-family: dynamic(null);
$ui-tracks-listswiperstepper-font-size: dynamic(null);
$ui-tracks-listswiperstepper-font-size-big: dynamic(null);
$ui-tracks-listswiperstepper-font-weight: dynamic(null);
$ui-tracks-listswiperstepper-background-color: dynamic(null);
$ui-tracks-listswiperstepper-icon-color: dynamic(null);
$ui-tracks-listswiperstepper-icon-font-size: dynamic(null);
$ui-tracks-listswiperstepper-icon-font-size-big: dynamic(null);
$ui-tracks-listswiperstepper-icon-horizontal-spacing: dynamic(null);
$ui-tracks-listswiperstepper-icon-horizontal-spacing-big: dynamic(null);
$ui-tracks-listswiperstepper-line-height: dynamic(null);
$ui-tracks-listswiperstepper-line-height-big: dynamic(null);
$ui-tracks-listswiperstepper-padding: dynamic(null);
$ui-tracks-listswiperstepper-padding-big: dynamic(null);
$ui-tracks-listswiperstepper-active-background-color: dynamic(null);
$ui-tracks-listswiperstepper-active-color: dynamic(null);
$ui-tracks-listswiperstepper-active-icon-color: dynamic(null);
$ui-tracks-listswiperstepper-undo-background-color: dynamic(null);
$ui-tracks-listswiperstepper-undo-color: dynamic(null);
$ui-tracks-listswiperstepper-undo-icon-color: dynamic(null);